series是一种类似于字典的一维数组

# **生成方法**

In [1]:
import pandas as pd

In [2]:
obj=pd.Series([4,7,-5,3])

In [3]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

**也可以用字典生成一个Series**

In [11]:
sdata={'ohio':35000,'texas':71000,'oregen':16000,'utah':5000}

In [14]:
obj3=pd.Series(sdata)

In [15]:
obj3

ohio      35000
texas     71000
oregen    16000
utah       5000
dtype: int64

左边为索引，右边为值

# **可以使用values和index属性获取值和索引**

In [4]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [5]:
obj.index#与range（4）类似

RangeIndex(start=0, stop=4, step=1)

# 索引可以人为指定

In [6]:
obj2=pd.Series([4,7,-5,3],index=['d','b','a','c'])

In [7]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

**根据标签进行索引**

In [9]:
obj2['a']

-5

In [16]:
obj2[['c','a','d']]

c    3
a   -5
d    4
dtype: int64

# 索引可以通过位置赋值进行改变

In [33]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [34]:
obj.index=['bob','steve','jeff','ryen']

In [35]:
obj

bob      4
steve    7
jeff    -5
ryen     3
dtype: int64

# **筛选**

可以运用布尔值进行数据过滤

In [19]:
obj2[obj2>0]

d    4
b    7
c    3
dtype: int64

# 排序

In [22]:
obj3

ohio      35000
texas     71000
oregen    16000
utah       5000
dtype: int64

In [23]:
sdata

{'ohio': 35000, 'texas': 71000, 'oregen': 16000, 'utah': 5000}

In [25]:
states=['california','ohio','oregen','texas']

In [26]:
obj4=pd.Series(sdata,index=states)

类似于重新生成一个数组，将键和字典中的键相对应，如果设置的键在字典中不存在，则会出现缺失值

# 缺失值

In [27]:
obj4

california        NaN
ohio          35000.0
oregen        16000.0
texas         71000.0
dtype: float64

pandas中使用isnull（是缺失值）和notnull（不是缺失值）来检查缺失数据

In [28]:
pd.isnull(obj4)

california     True
ohio          False
oregen        False
texas         False
dtype: bool

In [29]:
pd.notnull(obj4)

california    False
ohio           True
oregen         True
texas          True
dtype: bool

# name属性

对象自身和其索引都有name属性

In [30]:
obj4.name='population'

In [31]:
obj4.index.name='state'

In [32]:
obj4

state
california        NaN
ohio          35000.0
oregen        16000.0
texas         71000.0
Name: population, dtype: float64